.plato__container {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
}

.plato__info {
  display: inherit;
  flex-direction: row;
  gap: 16px;

  & .group {
    display: flex;
    justify-content: center;
    gap: 4px;
    flex-direction: column;
  }
}

.plato__cantidad {
  display: inherit;
  font-weight: 400;
  align-items: center;
  flex-direction: row;
  gap: 16px;

  & button {
    font-weight: 800;
    font-size: 16px;
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
  }
}