#error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-image: url("./img/AngryCat.png");
  background-repeat: no-repeat;
  background-position: left;
  left: -30px;
}
.error-title {
  margin-bottom: 10px;
  text-align: right;
  margin-left: 600px;
}

.error-text-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
  margin-left: 600px;
}
.btn {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 40px;
  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}
