.form-container {
  background-color: #eaddcf;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 40px;
}

.form-one {
  background-color: #fff;
  width: auto;
  height: auto;
  padding: 24px;
  border-radius: 16px;
}

.form__title {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.img__form {
  width: 30px;
}

.actions__form {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

button {
  width: auto;
  padding: 8px 32px;
  font-weight: 500;
}

.btnCancelar {
  background-color: gray;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px #000 solid;
}

.btnSiguiente {
  background-color: #10B981;
}

.msg__conditional {
  color: #757575;
}