.nav {
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.img__logo {
  width: auto;

  & img {
    width: 170px;
    height: 51px;
  }
}

.btnReserva {
  font-family: 'Poppins', sans-serif;
  height: 48px;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: #8c7851;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  &:focus {
    outline: 0;
  }

  &:active {
    transform: scale(0.98)
  }
}

