.nav__sidebar {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.nav__li {
  background-color: #f3f3f3;
  color: #000;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

img {
  width: 30px;
}

.arrow {
  margin: 0 auto;
  width: 10%;
}