.card__container {
  background-color: #EADDCF;
  border-radius: 16px;
  width: 200px;
  height: 280px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.card__img {
  width: 90px;
  height: 90px;
  border-radius: 16px;
  object-fit: cover;
}

.card__title {
  font-size: 14px;
}

.card__descrip {
  font-size: 12px;
  text-wrap: wrap;
}

.card__precio {
  text-decoration: none;
  background-color: black;
  color: #fff;
  padding: 4px 16px;
  border-radius: 8px;
}