.card__res {
    background-color: #eaddcf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    width: 80%; 
    margin-right: 1px;
}

.card__numres {
    color: #020826;
}

.card__fecha{
    margin-top: 8px;
}

.card__platos > ul {
    text-align: center;
    list-style: none;
}

.card__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    & .btnEditar {
        background-color: #ffd803;
        color: #020826;
    }

    & .btnEliminar {
        background-color: #f25042;
    }
}